<form id="sendCredentials">
  <legend>SGC Voting 2026</legend>
  <label for="email">Email</label>
  <input
    type="text"
    id="email"
    placeholder="e.g. bit00002025@students.kabianga.ac.ke"
    pattern="^[a-zA-Z0-9._%+-]+@students\.kabianga\.ac\.ke$"
  />
  <label for="code">Code</label>
  <input type="text" id="code" placeholder="e.g 0000" />
  <button class="submit">Proceed</button>
</form>

<script>
  document.querySelector("#sendCredentials").addEventListener("submit", (e) => {
    e.preventDefault();

    handleSubmit();
  });

  async function handleSubmit() {
    let code = document.querySelector("#code").value;
    let email = document.querySelector("#email").value;

    let validEmail = email.trim().toLowerCase();

    if (!validEmail.endsWith("@students.kabianga.ac.ke")) {
      document.querySelector(".submit").innerText = "Use your student email";
      return;
    }
    let res = await fetch("/", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ email, code }),
    });

    let response = await res.json();
    if (response.success) {
      document.querySelector(".submit").innerText = "Success";
    }
  }
</script>
